@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --principal : #AB2135;
    --branco : #f5faff;
    --cinza : #d5dadf;
    --preto : #060613; 

    --titulo: "Lexend Deca";
    --texto: "Poppins";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--branco);
    background-image: url(/midia/japan-background-digital-art.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: var(--titulo);
    margin-bottom: 40px;
    color: var(--branco);
}
p,a, input, button {
    font-family: var(--texto);
}

.card-container{
    background-color: var(--cinza);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(9px) saturate(101%);
    -webkit-backdrop-filter: blur(9px) saturate(101%);
    background-color: rgba(17, 25, 40, 0.22);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.form{
    display: flex;
    flex-direction: column;
}
.form input[type=email],input[type=password]{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    color: var(--principal);
}
.form input[type=submit]{
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--principal);
    color: var(--branco);
    opacity: 0.8;
    transition: 0.5s;
}
.form input[type=submit]:hover{
    opacity: 1;
}
.form-buttons{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 10px;
}
.form-buttons button{
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}
.form-buttons button:hover{
    background-color: var(--principal);
    color: var(--branco);
}
.register-button-container{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p{
    margin-bottom: 20px;
    color: var(--branco);
}
.register-button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: var(--preto);
    font-size: 18px;
    font-weight: 600;
}
.register-button:hover{
    background-color: var(--principal);
    color: var(--branco);
}