@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --principal : #5d32be;
    --branco : #f5faff;
    --cinza : #d5dadf;
    --preto : #060613; 

    --titulo: "Lexend Deca";
    --texto: "Poppins";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: var(--titulo);
}
p,a, input, button {
    font-family: var(--texto);
}

.card-container{
    margin: 80px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    height: 750px;
    width: 1035px;
}
.form-container{
    margin: 0 30px;
}
.form-container>h1{
    margin: 20px 0;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form>input{
    padding: 8px;
    margin: 0 10px;
    border-radius: 6px;
    border: none;
}
input[type="email"]:focus {
    outline: none;
    border: 1px solid var(--principal);
}
input[type="password"]:focus {
    outline: none;
    border: 1px solid var(--principal);
}
.form-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.form-buttons>button{
    margin: 0 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
}
.form-buttons button:hover{
    cursor: pointer;
    background-color: var(--principal);
    color: var(--branco);
}
.register-button-container{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.register-button-container p{
    color: var(--cinza);
    text-decoration: none;
}
.register-button-container p>a:hover{
    color: var(--principal);
}
.register-button-container>button{
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}
.image>img{
    border-radius: 15px;
    align-items: center;
    padding: 30px;
}
.submit ,
.register-button{
    cursor: pointer;
    background-color: var(--principal);
    color: var(--branco);
    font-weight: 600;
}
.register-button>a{
    color: var(--branco);
    text-decoration: none;
}